<div class="appcount-item">
  <div id='<%= app_count.app_id %>' class='appbrain-app'>
    <a href='http://www.appbrain.com/app/<%= app_count.app_id %>'
       style='font-size: 11px; color: #555; 
              font-family: Arial, sans-serif;
              display: none;'>
    </a>
  </div>
  <div class="appcount-count">
    Installed by: <%= app_count.count %> people <br>
    <%= link_to "Like", like_app_url(app_count.id),
        :remote => true, :method => :put %> : 
  <span id="likes<%= app_count.id %>"> <%= app_count.likes %> likes </span>
  </div>
</div>
