<div class="service-list">
  <div class="header">
    <ul class="header-list">
      <li><a class="select-all-checkbox-container">
        <span role="checkbox"
              class="checkbox"
              aria-checked="false"
              tabindex="0">
          <div class="unchecked-item"></div>
        </span>
      </a></li>
      <li><a class="list-title"><%= list_title %></a></li>
      <li>
        <%= render partial: pagination %>
      </li>
      <li><a class="pagination-left"
           <% if left_link %>
             href=<%= left_link %>
           <% end %>
             tabindex="0">
        <%= image_tag('left-caret-icon.png') %>
      </a></li>
      <li><a class="pagination-right" 
           <% if right_link %>
             href=<%= right_link %>
           <% end %>
             tabindex="0">
        <%= image_tag('right-caret-icon.png') %>
      </a></li>
      <li><a class="actions">
        <%= image_tag('widget-icon.gif') %>
        <div class="actions-sublist">
          <% if custom_actions %>
            <%= render partial: custom_actions %>
          <% end %>
        </div>
      </a></li>
    </ul>
  </div>
  <div class="service-list-container">
    <ol class="list-items">
      <% list.each do |item| %>
        <li class="list-row-item">
          <div class="list-item">
            <div class="list-row-item-checkbox-container">
              <span role="checkbox"
                    class="checkbox"
                    aria-checked="false"
                    tabindex="0">
                <div class="unchecked-item"></div>
              </span>
            </div>
            <div class="list-element"><%= render item %></div>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>
