<div class="login-header-bar">
  <div class="header-content">
    <%= image_tag('app-matcher-logo.png', class: 'logo') %>
    <%= link_to('Sign Up', {}, class: 'signup-button') %>
  </div>
</div>
  
<div class="main">
  
  <div class="signin">
    <div class="signin-box">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p id="notice"><%= flash[:alert] %></p>
      <% end %>
    
      <div class="signin-instruct">
        <%= link_to "Login with Facebook", 
                     user_omniauth_authorize_path(:facebook) %>
      </div>

      <div class="login-form">
        <% # May get rid of form for production - this is for testing %>
        <%= form_for(resource, 
                     :as => resource_name,
                     :url => session_path(resource_name)) do |f| %>
          <div class="login-field">
            <%= f.label :email, 'Email' %>
            <%= f.email_field :email %>
          </div>
          <div class="login-field">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
          <div>
            <%= submit_tag "Login" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="login-content">
    <%= image_tag('android-couple.jpg') %>
    <div class="catch-phrase">Test1</div>
  </div>
</div>
