<!DOCTYPE html>
<html>
<head>
  <title>FriendAppMatcher</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="wrapper">
  <div class="app-header-bar">
    <div class="app-header-content">
      <%= image_tag('app-matcher-logo-2.png', class: 'logo') %>

      <ul class="user-options-top">
        <% # User.username is actually the Facebook id.
           # Display the user's first name instead (change later). %>
        <li>
          <a class="name-display" href="#">
            <%= @primary.username %>
            <%= image_tag('down-triangle.gif', class: 'dropdown-img') %>
          </a>

          <% # Hidden dropdown menu to display %>
          <div class="user-options-sub">
            <%= image_tag('up-triangle.png') %> 
            <div class="user-options-sub-list-container">
              <ul>
                <li><%= link_to 'Settings', edit_user_path(@primary) %></li>
                <li><%= link_to 'Logout', logout_path, method: :delete %></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      <%= image_tag('positive-android.png', class: 'app-header-android') %>
    </div>
  </div>

  <div class="app-main">
    <div class="app-side-panel">
      <div class="app-side-nav-container">
        <div class="app-side-nav">Navigation</div>
        <div class="app-side-nav-list">
          <ul>
            <li><%= link_to 'My Apps', user_path(@primary) %></li>
            <li><%= link_to 'Recommendations', recommendations_path %></li>
            <li><%= link_to 'Top Applications', topapps_path %></li>
            <li><%= link_to 'Friends', friendships_path %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="app-main-content">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
